X12_005010X212_277.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:b="http://schemas.microsoft.com/BizTalk/2003"
           targetNamespace="http://schemas.microsoft.com/BizTalk/EDI/X12/2006"
           xmlns="http://schemas.microsoft.com/BizTalk/EDI/X12/2006"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:annotation>
    <xs:appinfo>
      <b:schemaInfo standard="X12" version="005010" document_type="277" root_reference="X12_00501_277"/>
      <b:references>
        <b:reference targetNamespace="http://schemas.microsoft.com/BizTalk/EDI/X12/2006" />
      </b:references>
    </xs:appinfo>
  </xs:annotation>

  <!-- Root Element -->
  <xs:element name="X12_00501_277" type="X12_277_Type"/>

  <!-- Main Transaction Set -->
  <xs:complexType name="X12_277_Type">
    <xs:sequence>
      <xs:element name="ST" type="ST_Type" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <b:recordInfo structure="delimited" delimiter_type="inherit_record"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="BHT" type="BHT_Type" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <b:recordInfo structure="delimited" delimiter_type="inherit_record"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Loop2000A" type="Loop2000A_Type" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="SE" type="SE_Type" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <b:recordInfo structure="delimited" delimiter_type="inherit_record"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ST - Transaction Set Header -->
  <xs:complexType name="ST_Type">
    <xs:sequence>
      <xs:element name="ST01" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Transaction Set Identifier Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ST02" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Transaction Set Control Number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ST03" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Implementation Convention Reference</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- BHT - Beginning of Hierarchical Transaction -->
  <xs:complexType name="BHT_Type">
    <xs:sequence>
      <xs:element name="BHT01" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Hierarchical Structure Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BHT02" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Transaction Set Purpose Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BHT03" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Originator Application Transaction Identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BHT04" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Transaction Set Creation Date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BHT05" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Transaction Set Creation Time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BHT06" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Transaction Type Code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Loop 2000A - Information Source Level -->
  <xs:complexType name="Loop2000A_Type">
    <xs:sequence>
      <xs:element name="HL" type="HL_Type" minOccurs="1" maxOccurs="1"/>
      <xs:element name="NM1" type="NM1_Type" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="TRN" type="TRN_Type" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="STC" type="STC_Type" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="REF" type="REF_Type" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="DTM" type="DTM_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- HL - Hierarchical Level -->
  <xs:complexType name="HL_Type">
    <xs:sequence>
      <xs:element name="HL01" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Hierarchical ID Number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HL02" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Hierarchical Parent ID Number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HL03" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Hierarchical Level Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HL04" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Hierarchical Child Code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- NM1 - Individual or Organizational Name -->
  <xs:complexType name="NM1_Type">
    <xs:sequence>
      <xs:element name="NM101" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Entity Identifier Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NM102" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Entity Type Qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NM103" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Name Last or Organization Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NM104" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Name First</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NM105" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Name Middle</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NM108" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Identification Code Qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NM109" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Identification Code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- TRN - Trace -->
  <xs:complexType name="TRN_Type">
    <xs:sequence>
      <xs:element name="TRN01" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Trace Type Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRN02" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Reference Identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRN03" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Originating Company Identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRN04" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Reference Identification</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- STC - Status Information -->
  <xs:complexType name="STC_Type">
    <xs:sequence>
      <xs:element name="STC01_1" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Health Care Claim Status Category Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="STC01_2" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Status Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="STC02" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="STC03" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Action Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="STC10" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Status Information Effective Date</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- REF - Reference Information -->
  <xs:complexType name="REF_Type">
    <xs:sequence>
      <xs:element name="REF01" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Reference Identification Qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="REF02" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Reference Identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="REF03" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Description</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- DTM - Date or Time or Period -->
  <xs:complexType name="DTM_Type">
    <xs:sequence>
      <xs:element name="DTM01" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Date/Time Qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTM02" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTM03" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Time</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- SE - Transaction Set Trailer -->
  <xs:complexType name="SE_Type">
    <xs:sequence>
      <xs:element name="SE01" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Number of Included Segments</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SE02" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Transaction Set Control Number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
